img {
  width: 250px;
  height: 200px;
}
.main {
  width: 800px;
  margin: auto;
}
.minor-text {
  font-style: italic;
  font-size: small;
  color: blue;
}

.donut-card {
  width: 250px;
  border: 2px solid rgb(188, 157, 113);
  padding: 5px;
  margin: 20px 50px;
  background-color: rgb(206, 197, 184);
  box-shadow: 5px 6px 5px rgb(206, 197, 184);
  animation: move-donut 10s linear infinite alternate;
}

@keyframes move-donut {
  from {
    margin: 50px 20px;
  }
  to {
    margin: 50px 500px;
  }
}
